{% extends "templates\kbase.html" %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'catalog.css' %}">
</head>

<body>
    

    <header class="header">
        <a href="{% url 'mainpage' %}" class="logo-container">
            <img src="{% static 'media/ilovedogs.png' %}" alt="logo" class="logo">
        </a>
    
        <nav class="navbar">
            <a href="{% url 'mainpage' %}" class="active">Home</a>
            <a href="{% url 'catalog' %}">Catalog</a>
            
        </nav>
    </header>
    <form class="catalog_search" method="get" action="{% url 'catalog' %}">
        <label>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>search</title>
            <path
              d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
            ></path>
          </svg>
          <input name="q" placeholder="Search for breeds" />
        </label>
      </form>

    <div id="breed-list">
        <h2>Breeds</h2>
        {% for breed_name, image_url in breeds.items %}
        <div class="breed-item">
            <p>{{ breed_name }}</p>
            <img src="{{ image_url }}" alt="picture">
            <a href="#">Info</a>
        </div>
        {% endfor %}
    </div>
    
    

</body>
</html>
{% endblock %}